<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.com.streamjungle" >

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
    * The following ensures the playback continue even if the phone is idle
    * setWakeMode()==>> Set the low-level power management behavior for this MediaPlayer.
    * PowerManager.PARTIAL_WAKE_LOCK==> Wake lock level: Ensures that the CPU is running; the
    * screen and keyboard backlight will be allowed to go off.
    *
    -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".ui.activities.StreamJungleApplication">
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.PlayerActivity"
            android:label="@string/title_activity_player"
            android:parentActivityName=".ui.activities.MainActivity" android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="example.com.streamjungle.ui.activities.MainActivity" />
        </activity>
        <service android:name=".services.TrackService"></service>
    </application>

</manifest>
